<%- include('head_html'); %>
<%- include('nav_html'); %>
<div class="container">
  <h1>Welcome to PongBattle by Netlight</h1>
  <p>PongBattle is your chance to get rich (of joy) and famous while battling with other creating your own pong paddle contestant.</p>
  <h2>What is it all about?</h2>
  <p>Pong is one of the oldes games in computer history. If you haven't heard of it. Just check out this video.</p>
  <iframe width="420" height="315" src="https://www.youtube.com/embed/e4VRgY3tkh0" frameborder="0" allowfullscreen></iframe>
  <h2>Oh yes I remember!</h2>
  <p>Now we put you in control of your own pong paddle. But instead of controlling it with your hands you will be able to write your own artificial intelligence to compete against others.</p>
  <p>To get started go ahead and <a href="/contestant/new">Create a new contestant</a>.</p>
</div>
<%- include('footer_html'); %>
